<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sarath Sattiraju</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap/css/bootstrap-grid.min.css') }}">
    <!--  Make sure your always using the latest version of Bootstrap here -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
    
    <link href="https://fonts.googleapis.com/css?family=Bungee|Pacifico|Poiret+One" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script src="{{ url_for('static', filename = 'js/sendMail.js' )}}"></script>
</head>

<body id="home">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Sarath Sattiraju</h1>
        </div>
        <div align="center" class="buttons">
            <a href="https://www.facebook.com/sarath.sattiraju.me" style="font-size: 30px" class="fa fa-facebook"></a>
            <a href="https://plus.google.com/114197253254528144173" style="font-size: 30px" class="fa fa-google"></a>
            <a href="https://www.linkedin.com/in/sarath-sattiraju-b87486129/" style="font-size: 30px" class="fa fa-linkedin"></a>
            <a href="https://play.google.com/store/apps/details?id=sarath.com.news" style="font-size: 30px" class="fa fa-android"></a>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-data" id="about">
                    <img src="{{ url_for('static', filename = 'assets/examplequote.gif') }}">
                    <p>Money is'nt everything but it is better to cry in a lambhorgini than on a bicycle!</p>
                    <img class="closing-quote" src="{{ url_for('static', filename='assets/examplequote2.png') }}">
                </div>
            </div>
        </div>
    </div>
    
    <hr/>
    
<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="{{ url_for('static', filename='assets/my.jpg') }}">
            </div>
            <div align="center" class="col-lg-6">
                <p>Hi, I'm Sarath. I'm a enthusiatic person and I love to develop apps and website! I am passionate about the thing I do.</p>
            </div>
        </div>
    </div>
</div>  
    
<hr/>
    
<div class="container resume">
   <div class="row">
      <div class="col-sm-6">
        <div class="container">
            <div class="card">
                <h4>St.Joseph's High School, ICSE</h4>
                <h5>2013 passed out</h5>
                <h6>87.3% aggregate secured</h6>
            </div>
          </div>
       </div>
      <div class="col-sm-6">
       <div class="container">
            <div class="card">
                <h4>Sri Chaitanya Junior College, SSC</h4>
                <h5>2013 - 2015, 2015 passed out</h5>
                <h6>96% secured</h6>
            </div>
          </div>
       </div>
   </div>
</div>
<div class="container resume">
   <div class="row">
      <div class="col-sm-6">
       <div class="container">
            <div class="card">
                <h5>Anil Neerukonda Institute of Technology and Sciences, Autonomous</h5>
                <h5>2015 - 2019, Studying</h5>
                <h6>8.2 (Upto 2-2)</h6>
            </div>
          </div>
       </div>
      <div class="col-sm-6">
       <div class="container">
            <div class="card">
                <h3>Soon to be found out!</h3>
            </div>
          </div>
       </div>
   </div>
</div>
    
<hr/>
    
<div class="container skills">
    <div align="center" class="radio-group">
        <input type="radio" class="radio four" name="progress" value="five" id='five'>
        <label for="five" class="label">web_dev</label>

        <input type="radio" class="radio one" name="progress" value="twentyfive" id='one' checked>
        <label for="one" class="label">node_js</label>

        <input type="radio" class="radio seven" name="progress" value="fifty" id='seven'>
        <label for="seven" class="label">python</label>

        <input type="radio" class="radio five" name="progress" value="seventyfive" id='five1'>
        <label for="five1" class="label">android</label>

        <input type="radio" class="radio six" name="progress" value="onehundred" id='five2'>
        <label for="five2" class="label">java</label>

        <input type="radio" class="radio one" name="progress" value="five" id='one1'>
        <label for="one1" class="label">shell</label>

        <input type="radio" class="radio six" name="progress" value="twentyfive" id='six'>
        <label for="six" class="label">C</label>

        <input type="radio" class="radio four" name="progress" value="seventyfive" id='four'>
        <label for="four" class="label">machine_learning</label>

        <input type="radio" class="radio six" name="progress" value="onehundred" id='six1'>
        <label for="six1" class="label">web_scraping</label>

        <div class="progress">
            <div class="progress-bar"></div>
        </div>

    </div>
</div>

<div class="container developments">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/news.png') }}" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">News</h4>
                            <p class="card-text">An Android Application which fetches real-time headlines from popular news sites.Get more knowledge!</p>
                            <a href="https://play.google.com/store/apps/details?id=sarath.com.news" class="btn btn-primary">Download</a>
                        </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/unnamed.png') }}" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Cursors 2k17</h4>
                            <p class="card-text">An Android Application for technical fest which sends real-time notifications to your device.</p>
                            <a href="https://github.com/Sarathisme/cursors2k17" class="btn btn-primary">Go to Github</a>
                        </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 second">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/museum.png') }}" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Museum</h4>
                            <p class="card-text">Cleaning and predictions on a large dataset of museum data using machine learning techniques.</p>
                            <a href="https://github.com/Sarathisme/museum-ml" class="btn btn-primary">Go to Github</a>
                        </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/web.svg') }}" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Website</h4>
                            <p class="card-text">Curious about this site? Go to the github page for looking into the work done to build this site!</p>
                            <a href="https://github.com/Sarathisme/sarathisme.github.io" class="btn btn-primary">Go to Website</a>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container developments">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <img class="card-img-top" src="{{ url_for('static', filename='assets/music.png') }}" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Music Recommendation System</h4>
                                <p class="card-text">A Recommendation system that analysis the characterstics of the music such as pitch, tempo etc and gives recommendations</p>
                                <a href="https://github.com/Sarathisme/music-recommendation-system" class="btn btn-primary">Go to Github</a>
                            </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <img class="card-img-top" src="{{ url_for('static', filename='assets/google.png') }}" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Google Web scraper</h4>
                                <p class="card-text">A CLI, API and GUI implementation of a web scraper that scrapes the google search engines for the required query</p>
                                <a href="https://github.com/Sarathisme/google-webscraper" class="btn btn-primary">Go to Github</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    
    <hr/>
    
    <div class="contact-me">
        <h1>Email me at</h1>
        <h2>sarath.sattiraju@gmail.com</h2>
    </div>
    
<div class="container">  
    <form>
        <div class="form-group">
            <label class="sr-only" for="inlineFormInputGroup">Email</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon">@</div>
                    <input type="email" class="form-control emailId" id="inlineFormInputGroup" name="email" placeholder="Email address">
                </div>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        
        <div class="form-group">
            <div class="form-group passwordField" style="margin: 18px auto 0 auto";>
            <label class="sr-only" for="inlineFormInputGroup">Message</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <textarea class="form-control message" id="exampleTextarea" rows="5" id="inlineFormInputGroup" name="message" placeholder="Message"></textarea>
                </div>
                <small id="emailHelp" class="form-text text-muted">Please type in your message!</small>
        </div>
        <div>
            <a class="btn btn-primary" href="#" role="button" onclick="sendmail">Send Message!</a>
        </div>
        </div>
    </form>
</div>
    
<div class="container-fluid">
    <h2>Developed by <span>Sarath Sattiraju</span></h2>
</div>
    

  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <!--  Always Download latest version of Boostrap and add here-->
  <script src="{{ url_for('static', filename = 'bootstrap/js/bootstrap.min.js') }}"></script>
</body>

</html>