<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sarath Sattiraju</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap/css/bootstrap-grid.min.css') }}">
    <!--  Make sure your always using the latest version of Bootstrap here -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
    
    <link href="https://fonts.googleapis.com/css?family=Bungee|Pacifico|Poiret+One" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script src="{{ url_for('static', filename = 'js/sendMail.js' )}}"></script>
</head>

<body id="home">
    {% if result %}
        <div>
            <div class="alert alert-success alert-dismissible fade show" role="alert" style='margin:0px;'>
                <strong>Thank you!</strong> for contacting me. I'll get back to you ASAP.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    {% endif %}

    {% if result == None %}
        <div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" style='margin:0px;'>
                <strong>Sorry!</strong> Something's wrong. Couldn't send the message.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    {% endif %}

    {% include 'jumbotron.html' %}
    {% include 'quote.html' %}
    <hr/>
    {% include 'about.html' %}
    <hr/>
    {% include 'resume.html' %}
    <hr/>
    {% include 'skills.html' %}
    {% include 'projects.html' %}
    <hr/>
    {% include 'contact.html' %}

<div class="container-fluid">
    <h2>Developed by <span>Sarath Sattiraju</span></h2>
</div>
    

  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <!--  Always Download latest version of Boostrap and add here-->
  <script src="{{ url_for('static', filename = 'bootstrap/js/bootstrap.min.js') }}"></script>
</body>

</html>