<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Sarath Sattiraju</h1>
    </div>
    <div align="center" class="buttons">
        <a href="https://www.facebook.com/sarath.sattiraju.me" style="font-size: 30px" class="fa fa-facebook"></a>
        <a href="https://plus.google.com/114197253254528144173" style="font-size: 30px" class="fa fa-google"></a>
        <a href="https://www.linkedin.com/in/sarath-sattiraju-b87486129/" style="font-size: 30px" class="fa fa-linkedin"></a>
        <a href="https://play.google.com/store/apps/details?id=sarath.com.news" style="font-size: 30px" class="fa fa-android"></a>
    </div>
</div>