<div class="container developments">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='assets/news.png') }}" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">News</h4>
                        <p class="card-text">An Android Application which fetches real-time headlines from popular news sites.Get more knowledge!</p>
                        <a href="https://play.google.com/store/apps/details?id=sarath.com.news" class="btn btn-primary">Download</a>
                    </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='assets/unnamed.png') }}" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Cursors 2k17</h4>
                        <p class="card-text">An Android Application for technical fest which sends real-time notifications to your device.</p>
                        <a href="https://github.com/Sarathisme/cursors2k17" class="btn btn-primary">Go to Github</a>
                    </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 second">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='assets/museum.png') }}" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Museum</h4>
                        <p class="card-text">Cleaning and predictions on a large dataset of museum data using machine learning techniques.</p>
                        <a href="https://github.com/Sarathisme/museum-ml" class="btn btn-primary">Go to Github</a>
                    </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='assets/web.png') }}" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Website</h4>
                        <p class="card-text">Curious about this site? Go to the github page for looking into the work done to build this site!</p>
                        <a href="https://github.com/Sarathisme/sarathisme.github.io" class="btn btn-primary">Go to Website</a>
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="container developments">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/music.png') }}" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Music Recommendation System</h4>
                            <p class="card-text">A Recommendation system that analysis the characterstics of the music such as pitch, tempo etc and gives recommendations</p>
                            <a href="https://github.com/Sarathisme/music-recommendation-system" class="btn btn-primary">Go to Github</a>
                        </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/google.png') }}" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Google Web scraper</h4>
                            <p class="card-text">A CLI, API and GUI implementation of a web scraper that scrapes the google search engines for the required query</p>
                            <a href="https://github.com/Sarathisme/google-webscraper" class="btn btn-primary">Go to Github</a>
                        </div>
                </div>
            </div>
        </div>
    </div>