<div class="container resume">
    <div class="row">
       <div class="col-sm-6">
         <div class="container">
             <div class="card">
                 <h4>St.Joseph's High School, ICSE</h4>
                 <h5>2013 passed out</h5>
                 <h6>87.3% aggregate secured</h6>
             </div>
           </div>
        </div>
       <div class="col-sm-6">
        <div class="container">
             <div class="card">
                 <h4>Sri Chaitanya Junior College, SSC</h4>
                 <h5>2013 - 2015, 2015 passed out</h5>
                 <h6>96% secured</h6>
             </div>
           </div>
        </div>
    </div>
 </div>
 <div class="container resume">
    <div class="row">
       <div class="col-sm-6">
        <div class="container">
             <div class="card">
                 <h5>Anil Neerukonda Institute of Technology and Sciences, Autonomous</h5>
                 <h5>2015 - 2019, Studying</h5>
                 <h6>8.2 (Upto 2-2)</h6>
             </div>
           </div>
        </div>
       <div class="col-sm-6">
        <div class="container">
             <div class="card">
                 <h3>Soon to be found out!</h3>
             </div>
           </div>
        </div>
    </div>
 </div>